.row
  .small-12.columns
    - @recipes.each do |recipe|
      .panel.panelrecipe
        .singlerecipeheader= link_to "#{recipe.title}", recipe_path(recipe.id)
        .singlerecipeimg= image_tag "#{recipe.image}"
        .prep-time-text= "Prep time"
        .prep-time-text= "Cook time"
        .prep-time-text= "Servings"
        %br
        .prep-time= "#{recipe.preptime}"
        .prep-time= "#{recipe.cooktime}"
        .prep-time= "#{recipe.servings}"
        .excerpt= "#{(recipe.instructions).truncate(200)}"
        =link_to( " Read More >>", recipe_path(recipe))