#recipenavbar
  .panel.recipenavpanel
    .row
      .small-12.columns
        = link_to('Add Recipe', new_recipe_path, :remote => 'true', :class => 'recipezybtn_recipeadd', :id => 'new_recipe_btn')
        = link_to('Browse All', recipes_path, :remote => 'true', :class => 'recipezybtn_recipenav', :id => 'browse_recipes')
        %hr
        #selectbytext= 'Or select by:'
        .selectfrom= select_tag 'Ingredient', options_for_select(@ingredients.map{ |i| [i, i] })
        = button_tag('Ingredient', :class => 'recipezybtn_selectby', :id => 'select_by_ingredient')
        .selectfrom= select_tag 'Time', options_for_select(@time.map{ |t| [t, t] })
        / = select_tag 'Cost', options_for_select(@costs.map{ |c| [c, c] })
        = button_tag('Time', :class => 'recipezybtn_selectby', :id => 'select_by_time')




.row
  #new_recipe


.row
  .small-7.columns
    #recipes
